:root {
  --font: 19px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #BABABA;
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 64px;
  color: #ED513F;
}

p,
button {
  font-size: var(--font) !important;
}

p,
h1 {
  margin-top: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #DCDCDC;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  height: 64px;
}

header .container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30svw;
}

header span.white {
  color: white;
}

header button {
  padding: 4px 24px;
  border-radius: 24px;
  background-color: black;
  color: #CCCCCC;
  border: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
  width: calc(100% - 200px);
}

section.section1 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin-top: 10svh;
}

section.section1 h1 {
  text-wrap: balance;
  margin: 0;
  white-space: nowrap;
}

section.section1 span {
  color: #DCDCDC;
  text-decoration: line-through;
}

.pannelEditor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ED513F;
  width: calc(100% - 120px);
  padding: 30px 60px;
  border-radius: 24px;
  margin-top: 20px;
}

.pannelEditor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.section2 {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-top: 10svh;
}

.Bold {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 50%;
  text-wrap: balance;
}

section.section2 img {
  height: 50svh;
  object-fit: contain;
}

.control_bar {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}

.control_bar ul {
  list-style-type: none;
  padding: 0;
}

.control_bar ul li {
  margin: 10px 0;
  color: #666666;
}

.control_bar span {
  font-weight: bold;
  color: black;
}

.btn {
  background-color: #181818;
  border-radius: 23px;
  border: 0;
  padding: 12px 24px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #323232;
}

section.section3 {
  width: 100%;
  margin-top: 10svh;
}

section.section3 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section.section4 {
  width: 100%;
  margin-top: 10svh;
}

section.section4 .commentaires {
  background-color: #181818;
  border-radius: 24px;
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  border: 20px solid #181818;
}

section.section4 .grand_container1 {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  left: 0%;
  width: 120%;
}

section.section4 .grand_container2 {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  left: -10%;
  width: 110%;
}

section.section4 .grand_container3 {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  left: 0%;
  width: 75%;
  justify-content: start;
}

section.section4 .mini_container {
  background-color: #CCCCCC;
  border-radius: 16px;
  padding: 16px;
  height: 150px;
  width: 1000px;
  margin-right: 20px;
}

section.section4 .mini_container:last-of-type {
  margin-right: 0;
}

.mini_container .name {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}

.profils {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
}

.profils_img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

section.section4 p:not(.profils p) {
  font-size: 14px;
}

section.section4 .profils p {
  font-size: 17px;
}

section.section5 {
  width: 100%;
  margin-top: 5svh;
}

.number {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #ED513F;
  border-radius: 24px;
  padding: 100px 0;
}

.number div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boldNumber {
  font-size: 90px;
  font-weight: bold;
}

section.section6 {
  width: 100%;
  margin-top: 5svh;
}

section.section6 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  gap: 0px 20px;
}

section.section6 .subscribe {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  background-color: #181818;
  color: #CCCCCC;
  border-radius: 24px;
  padding: 20px;
  width: calc(100% - 40px);
  height: 100%;
  max-height: 10svh;
}

section.section6 .champText {
  position: relative;
  display: inline-block;
  width: 100%;
}

section.section6 .subscribe input[type="text"] {
  background-color: #323232;
  color: #CCCCCC;
  padding: 10px;
  width: 100%;
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
}

section.section6 .subscribe .arrow {
  position: absolute;
  color: #CCCCCC;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%) translateX(-150%);
  pointer-events: none;
}

section.section6 .downloadMoedit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  color: #CCCCCC;
  border-radius: 24px;
  padding: 20px;
  width: calc(100% - 40px);
  height: 100%;
  max-height: 10svh;
}

section.section6 .downloadMoedit button {
  color: #CCCCCC;
  background-color: #323232;
  border: 0;
  padding: 30px 50px;
  border-radius: 12px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.4;
  white-space: nowrap;
}

section.section6 .downloadMoedit button:hover {
  color: #323232;
  background-color: #CCCCCC;

}

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #181818;
  width: 100%;
  height: 50svh;
  margin-top: 10svh;
  gap: 0 25svw;
}

footer div.nav_footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding-top: 5svh;
  padding-left: 4svw;
}

footer div.nav_footer ul {
  list-style-type: none;
  padding: 0;
}

footer div.nav_footer p {
  font-weight: bold;
  color: #CCCCCC;
}

footer div.nav_footer li {
  margin: 10px 0;
}

footer div.nav_footer li a {
  text-decoration: none;
  color: #ED513F;
}

footer .contact {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: start;
  width: 100%;
  padding-top: 5svh;
  padding-right: 5svw;
}

footer .contact p {
  color: #CCCCCC;
  width: 100%;
  display: block;
}

footer .contact a {
  color: #ED513F;
}